* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
  justify-content: space-around;
}
.history {
  flex: 0.3;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  padding: 20px;
  font-family: "Roboto";
  background-color: rgb(2, 59, 42);
  color: white;
  border-radius: 10px;
}
.centerBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  gap: 12px;
  border: 1px solid white;
  font-family: "Roboto";
  background-color: gray;
  color: white;
  border-radius: 10px;
}
.mission {
  flex: 0.3;
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  padding: 20px;
  font-family: "Roboto";
  background-color: black;
  color: white;
  border-radius: 10px;
}
.game {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: brown;
  padding: 5px;
  border-radius: 5px;
}
.game img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.game img:hover {
  cursor: pointer;
}
.targetCount {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.targetCount img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
