* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}
.game {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: brown;
  padding: 5px;
  border-radius: 5px;
}

.game img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.game img:hover {
  cursor: pointer;
}
.targetCount {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.targetCount img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.cardBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  gap: 12px;
  border: 1px solid white;
  font-family: "Roboto";
  background-color: gray;
  color: white;
  border-radius: 10px;
}
.history {
  flex: 0.3;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  padding: 20px;
  font-family: "Roboto";
  background-color: rgb(2, 59, 42);
  color: white;
  border-radius: 10px;
}
.mission {
  flex: 0.3;
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  padding: 20px;
  font-family: "Roboto";
  background-color: rgb(44, 1, 44);
  color: white;
  border-radius: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
